/*Global Stylesheet*/

/*Main*/

:root {
    --clr-sec: #FF9843;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

body, html {
    overflow-x: hidden;
}


.sixty-four {
    font-family: "Sixtyfour", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "BLED" 0,
    "SCAN" 0;
}

.head-style {
    font-size: 32px;
}

.big-head-style {
    font-size: 56px;
}

.text-style {
    font-size: 18px;
}

.big-text-style {
    font-size: 24px;
}

@media screen and (max-width: 500px) {
    .big-head-style {
        font-size: 36px;
    }

    .text-style {
        font-size: 16px;
    }

    .big-text-style {
        font-size: 18px;
    }
}

@media screen and (max-width: 380px) {
    .head-style {
        font-size: 28px;
    }
}

.loader {
    text-align: center;
    margin: 50px 0;
}

.movie-item {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 350px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: transform 0.4s ease;
}

.movie-item:hover {
    transform: scale(1.05);
}


.movie-item .poster {
    height: 350px;
    width: 100%;
    overflow: hidden;
}

.movie-item .poster img {
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.movie-item .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding: 10px;
    background-color: #000000;
    height: 150px;
    color: white;
}

.movie-item .content .title {
    color: var(--clr-sec);
}

.click {
    transition: all 0.2s ease;
}

.click:active {
    scale: 0.95;
}

/*Main End*/

/*Container*/

.container {
    padding: 0 76px;
    position: relative;
}

@media screen and (max-width: 991px) {
    .container {
        padding: 0 56px;
    }
}

@media screen and (max-width: 696px) {
    .container {
        padding: 0 32px;
    }
}

@media screen and (max-width: 500px) {
    .container {
        padding: 0 16px;
    }
}

/*Container End*/

/*==========Navbar==========*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1100;
    transition: transform 0.6s cubic-bezier(0.87, 0, 0.13, 1);
}

nav.hide {
    transform: translateY(-100%);
}

nav .navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #fff;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    transition: background-color 0.6s ease;
}

nav.active .navbar-container {
    background-color: transparent;
}

nav .navbar-container .left {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: linear-gradient(to top, var(--clr-sec), black);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    cursor: pointer;
}

nav .navbar-container .right ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 32px;
}

nav .navbar-container .right ul li a {
    color: black;
    text-decoration: none;
    position: relative;
}

nav .navbar-container .right ul li a:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    transform-origin: center;
    width: 100%;
    height: 2px;
    border-radius: 20px;
    background-color: var(--clr-sec);
    transition: all 0.4s cubic-bezier(0.87, 0, 0.13, 1);
    transform: scaleX(0);
}

nav .navbar-container .right ul li a:hover:after {
    transform: scaleX(1);
}

nav .navbar-container .ham {
    display: none;
    gap: 5px;
    flex-direction: column;
    cursor: pointer;
}

nav .navbar-container .ham span {
    height: 2px;
    background-color: #000000;
    width: 20px;
    transition: all 1.2s cubic-bezier(0.87, 0, 0.13, 1);
}

nav .navbar-container .ham.active span {
    background-color: var(--clr-sec);
}

nav .navbar-container .ham.active span:nth-child(1) {
    rotate: 405deg;
    translate: 0 7px;
}

nav .navbar-container .ham.active span:nth-child(3) {
    rotate: -405deg;
    translate: 0 -7px;
}

nav .navbar-container .ham.active span:nth-child(2) {
    opacity: 0;
}

@media screen and (max-width: 991px) {
    nav .navbar-container .right {
        display: none;
    }

    nav .navbar-container .ham {
        display: flex;
    }
}

/*==========Navbar End==========*/

/*==========Overflow==========*/

.overflow-nav {
    position: fixed;
    margin: auto;
    inset: 0;
    width: 200vw;
    height: 200vh;
    background-color: rgba(0,0,0,0.8);
    transition: transform 0.6s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.6s cubic-bezier(0.87, 0, 0.13, 1);
    z-index: 1000;
    transform: translateX(100%);
    opacity: 0;
    border-radius: 100%;
}

.overflow-nav.active {
    transform: translateX(-50%);
    opacity: 1;
}

/*==========Overflow End==========*/

/*==========Aside==========*/

aside {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 60vw;
    background-color: black;
    z-index: 1000;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    transition: transform 0.6s cubic-bezier(0.87, 0, 0.13, 1);
    transform: translateX(100%);
}

aside.active {
    transform: translateX(0);
}

aside .aside-container {
    display: grid;
    place-items: center;
    height: 100%;
}

aside .aside-container ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

aside .aside-container ul li a {
    color: white;
    text-decoration: none;
    font-size: 32px;
    font-weight: bold;
    transition: all 0.2s ease;
}

aside .aside-container ul li a:hover {
    color: var(--clr-sec);
}

/*==========Aside End==========*/

/*==========Movie Banner==========*/

.mb {
    margin: 150px 0 100px;
}

.mb .mb-container {
    position: relative;
    border-radius: 50px;
    width: 100%;
    height: 500px;
    overflow: hidden;
    padding: 16px;
}

.mb .mb-container .abs-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
    object-fit: cover;
    object-position: center;
}

.mb .mb-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), transparent);
    z-index: 102;
}

.mb .mb-container .content {
    position: relative;
    z-index: 105;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    color: white;
    width: 60%;
    gap: 5px;
}

.mb .mb-container .content .head {
    color: var(--clr-sec);
}

@media screen and (max-width: 810px) {
    .mb .mb-container .content {
        width: 80%;
    }
}

/*==========Movie Banner End==========*/

/*==========Genre Grid==========*/

.gg {
    margin: 100px 0;
}

.gg .gg-container {
    padding: 32px;
    border-radius: 50px;
}

.gg .gg-container .head {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: black;
}

.gg .gg-container .grid {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

@media screen and (max-width: 991px) {
    .gg .gg-container .grid {
        justify-content: center;
    }
}

/*==========Genre Grid End==========*/

/*==========404==========*/

.error-page {
    display: grid;
    place-items: center;
    height: 100vh;
}

.error-page .error-container {
    display: flex;
    align-items: center;
    gap: 32px;
}

.error-page .error-container .left {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, var(--clr-sec), black);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.error-page .error-container .right {
    display: flex;
    flex-direction: column;
}

/*==========404 End==========*/

/*==========Movie Page==========*/

.movie-page {
    position: relative;
}

.movie-page .mp-container .info-grid .grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    margin-bottom: 50px;
}

.movie-page .mp-container .info-grid .grid .info-item {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 300px) {
    .movie-page .mp-container .info-grid .grid {
        grid-template-columns: 1fr;
    }
}

/*==========Movie Page End==========*/

/*==========Search Page==========*/

.search {
    position: relative;
}

.search .search-container {
    margin-top: 200px;
}

.search .search-container .head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.search .search-container .head input {
    flex-basis: 60%;
    font-size: 24px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}

.search .search-container .head i.fa-solid {
    font-size: 24px;
    background: linear-gradient(to top, var(--clr-sec), black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.search .search-container .head button {
    padding: 10px 24px;
    border: none;
    border-radius: 50px;
    background-color: black;
    color: var(--clr-sec);
}

.search .search-container .chip-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin: 25px 0 100px;
    flex-wrap: wrap;
}

.search .search-container .chip-bar .chip {
    border-radius: 50px;
    padding: 10px 24px;
    font-size: 18px;
    background-color: var(--clr-sec);
    color: white;
}

@media screen and (max-width: 500px) {
    .search .search-container .head i.fa-solid {
        display: none;
    }

    .search .search-container .head {
        flex-direction: column;
    }

    .search .search-container .head input {
        width: 100%;
        font-size: 18px;
    }
}

/*==========Search Page End==========*/